@model ECommerceApp.ViewModel.HomeViewModel;

@{
    ViewData["Title"] = "Shop Cart - Shop Everything";
}


<header class="w-full h-full sticky top-0 z-10 bg-blue-500 text-white">

    <!-- First Navigation Bar -->
    <nav id="nav1" class="w-full h-full flex items-center justify-between px-2 lg:px-6 py-2 max-[300px]:flex-col ">

        <a asp-controller="Home" asp-action="Index" class="lg:hidden flex items-center justify-center space-x-2">
            <img src="~/images/logo.png" alt="Logo" class="w-16">
            <h1 class="font-bold text-3xl">ShopCart</h1>
        </a>

        @if (User.IsInRole("SiteOwner"))
        {
            <div class="bg-[#222222] px-4 py-2 max-[300px]:w-4/5">

                <a asp-controller="Home" asp-action="Admin" class="font-medium max-[300px]:w-full  flex items-center justify-center">Admin Panel</a>
            </div>
        }
        else
        {

            <div class="max-[300px]:w-4/5"></div>
        }


        <div class="hidden lg:flex items-center space-x-6 text-base">
            <a asp-controller="WishList" asp-action="WishListIndex" class="text-white hover:text-blue-300">WishList</a>
            <a asp-controller="Profiles" asp-action="ProfileIndex" class="text-white hover:text-blue-300">Profile</a>

            @if (User.Identity.IsAuthenticated)
            {
                <form asp-controller="LogIn" asp-action="LogOut" method="post">
                    <button type="submit" class="text-white hover:text-blue-300">Log out</button>
                </form>
            }
        </div>
    </nav>

    <!-- Second Navigation Bar -->
    <nav id="nav2" class="w-full h-full flex items-center justify-between px-6 py-4 bg-blue-500 text-white">

        <!-- Logo and Title -->
        <a asp-controller="Home" asp-action="Index" class="hidden lg:flex items-center justify-center space-x-2">
            <img src="~/images/logo.png" alt="Logo" class="w-16">
            <h1 class="font-bold text-3xl">ShopCart</h1>
        </a>

        <div class="relative w-full lg:w-1/2">
            <!-- Search Bar -->
            <div class="flex items-center justify-end w-full">
                <input id="searchBox"
                       class="h-12 w-full text-black rounded-l-lg px-4 border border-gray-300 outline-none"
                       type="text"
                       placeholder="Search for products...">

                <button id="searchButton"
                        class="h-12 px-4 bg-yellow-400 hover:bg-yellow-500 text-black font-medium rounded-r-lg hover:bg-blue-600">
                    <img src="~/images/search.png" alt="Alternate Text" class="w-5">
                </button>
            </div>

            <a id="searchResults"
               class="absolute right-0 top-14 w-full max-h-[50vh] overflow-y-auto bg-transparent rounded-lg flex flex-wrap px-2 z-10">
            </a>

        </div>


        <!-- Cart and Orders -->
        <div class="hidden lg:flex items-center space-x-6 w-1/4 justify-between ">

            <a asp-controller="Orders" asp-action="OrderIndex" class="h-full flex items-center justify-center space-x-2">

                <div class="relative">
                    @if (ViewData["OrderQuantity"] != null && (int)ViewData["OrderQuantity"] > 0)
                    {
                        <h5 class="h-5 w-5 rounded-full bg-red-500 font-medium absolute right-0 -top-2 text-white z-10 flex items-center justify-center">@(ViewData["OrderQuantity"] ?? 0)</h5>
                    }
                    <img src="~/images/icons8-lightning-50.png" class="w-8">
                </div>
                <h1 class="font-medium text-lg">Order</h1>
            </a>

            <a asp-controller="Carts" asp-action="CartsIndex" class="h-full flex items-center justify-center space-x-2">

                <div class="relative">
                    @if (@ViewData["CartQuantity"] != null && (int)@ViewData["CartQuantity"] > 0)
                    {
                        <h5 class="h-5 w-5 rounded-full bg-red-500 font-medium absolute right-0 -top-2 text-white z-10 flex items-center justify-center">@(ViewData["CartQuantity"] ?? 0)</h5>
                    }
                    <img src="~/images/cart.png" class="invert grayscale w-10">
                </div>
                <h1 class="font-medium text-lg">Cart</h1>

            </a>


            <!-- User Account -->
            <a asp-controller="SignUp" asp-action="Signup" class="flex items-center space-x-2">
                <img src="~/images/user.png" alt="Account" class="w-8">
                <div class="flex items-center justify-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <h1 class="font-medium">@User.Identity.Name</h1>
                    }
                    else
                    {
                        <h1>Sign In</h1>
                    }
                </div>
            </a>
        </div>
    </nav>
</header>


<div class="lg:hidden w-full h-[8vh] bg-[#222222] flex items-center justify-between space-x-4 px-3 overflow-x-auto overflow-y-hidden">
    @foreach (var i in Model.Categories)
    {
        <a id="CategoryBoxSmall" asp-controller="Products" asp-action="ProductsIndex" asp-route-categoryId="@i.Id"
           class="block py-2 flex items-center justify-center hover:text-yellow-400 transition-all duration-400 ease-out whitespace-nowrap w-full">
            <div class="text-xl">@i.Name</div>
        </a>
    }
</div>

@if (TempData["Notification"] != null)
{
    <div id="Completed" class="fixed inset-0 z-10 flex items-center justify-center
                top-1/4 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        @Html.Raw(TempData["Notification"])
    </div>
}

<div class="w-full h-screen lg:h-[80vh] flex items-center justify-center lg:my-6 lg:space-x-4 ">

    <div class="w-[15%] h-fit max-h-full bg-white border-[1px] border-black  overflow-auto hidden lg:block rounded-lg">

        <div class="text-xl text-black font-medium bg-yellow-300 py-2 border-[1px] border-black px-2">Categories</div>

        @foreach (var i in Model.Categories)
        {
            <a id="CategoryBox" asp-controller="Products" asp-action="ProductsIndex" asp-route-categoryId="@i.Id" class="block text-black hover:text-black  py-2 border-b-[1px] border-black flex items-center justify-between px-2">
                <div class="text-xl">@i.Name</div>
                <img src="~/images/icons8-next-32.png" class="w-5 opacity-50">
            </a>
        }
    </div>

    <div id="slideShow" class="relative w-full lg:w-[75%] h-full lg: bg-cover bg-center flex flex-col text-left pt-6 lg:pt-24 items-start px-10 transition-all duration-200 ease-in">
        <div class="absolute inset-0 bg-black opacity-50 lg:"></div>
        <h2 class="relative text-white text-3xl tracking-wider max-[300px]:text-xl">TOP BRANDS</h2>
        <h1 class="relative font-bold text-white text-4xl tracking-wider max-[300px]:text-xl">NEW COLLECTIONS</h1>
        <p class="relative text-white">Explore our trendy new clothing collections!</p>
        <a asp-controller="Products" asp-action="ProductsIndex" asp-route-categoryId="3" class="relative bg-blue-500 cursor-pointer transiton-all duration-300 ease-in hover:bg-blue-600 text-white font-medium px-10 h-12 flex items-center justify-center  my-4">
            Shop Now
        </a>
    </div>

</div>

<div class="w-full h-screen lg:h-[80vh]">

    <div class="relative w-full lg:w-[90%] h-full mt-6 lg:mt-20 mx-auto h-full lg: bg-white bg-[url('/images/indexbg2.webp')] bg-cover bg-center flex flex-col text-left pt-6 items-start px-10 transition-all duration-200 ease-in">
        <div class="absolute inset-0 bg-black opacity-50 lg:"></div>
        <h2 class="relative text-white max-[300px]:text-xl text-3xl tracking-wider">TOP BRANDS</h2>
        <h1 class="relative font-bold text-white max-[300px]:text-xl text-4xl tracking-wider">LATEST INNOVATIONS</h1>
        <p class="relative text-white">Discover cutting-edge electronics and gadgets that redefine your lifestyle!</p>
        <a asp-controller="Products" asp-action="ProductsIndex" asp-route-categoryId="1" class="relative bg-blue-500 cursor-pointer transiton-all duration-300 ease-in hover:bg-blue-600 text-white font-medium px-10 h-12 flex items-center justify-center  my-4">
            Shop Now
        </a>
    </div>

</div>



<div class="w-full h-screen lg:h-[80vh]">
    <div id="slideShow2" class="relative w-full lg:w-[90%] h-[10vh] mt-6 lg:mt-20 h-full mx-auto lg: bg-cover bg-center flex flex-col text-left pt-6 lg:pt-24 items-start px-10 transition-all duration-200 ease-in">
        <div class="absolute inset-0 bg-black opacity-60 lg:"></div>
        <h2 class="relative font-bold text-white text-3xl tracking-wider"></h2>
        <p class="relative text-white"></p>
        <a id="shopNowLink" class="relative bg-blue-500 cursor-pointer transition-all duration-300 ease-in hover:bg-blue-600 text-white font-medium px-10 h-12 flex items-center justify-center  my-4">
            Shop Now
        </a>
    </div>
</div>




@section Scripts {
    <script src="~/js/index.js"></script>
}