@model IEnumerable<ECommerceApp.Models.Wishlist>

@{
    ViewData["Title"] = "Your Wishlist";
}

<a asp-controller="Home" asp-action="Index" class=" bg-blue-400 hover:bg-blue-600 mt-6 ml-6 hover:text-white rounded-md inline-block  py-1 w-24 flex items-center justify-center">
    <img src="~/images/back.png" alt="Back" class="invert grayscale w-8">
</a>

<div class="h-full w-full flex flex-col items-center justify-center space-y-10">


    <h1 class="text-center font-semibold text-xl mb-10">Wishlist</h1>

    @if (Model.Any())
    {

        <div class="space-y-24 w-full h-full flex items-center justify-center flex-col">
            @foreach (var item in Model)
            {
                <div class="flex items-start justify-center space-x-12">

                    <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@item.Product?.Id" class="w-1/4 h-full flex items-center justify-center  hover:opacity-90">
                        <img src="@item.Product?.ImageUrl" alt="@item.Product?.Name" class="object-contain object-center w-full h-full">
                    </a>

                    <div class="space-y-4">
                        <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@item.Product?.Id" class="text-xl font-semibold hover:text-yellow-400">@item.Product?.Name</a>
                        <h3 class="font-medium text-yellow-400">@item.Product?.Price</h3>
                        <form asp-controller="WishList" asp-action="RemoveItemWishList" asp-route-id="@item.Id" method="post" class="w-44 py-2 bg-red-500 hover:bg-red-500 flex items-center justify-start pl-4">
                            <button type="submit">Remove</button>
                        </form>
                    </div>
                </div>
            }

        </div>
    }
    else
    {
        <p class="text-xl">No Products in your Wislist</p>
    }
</div>