@model IEnumerable<ECommerceApp.Models.Wishlist>

@{
    ViewData["Title"] = "Your Wishlist";
}

<a asp-controller="Home" asp-action="Index" class="bg-blue-400 hover:bg-blue-600 mt-6 ml-6 hover:text-white  inline-block py-1 w-24 flex items-center justify-center">
    <img src="~/images/back.png" alt="Back" class="invert grayscale w-8">
</a>

<div class="h-full w-full flex flex-col items-center justify-center pb-24">
    <h1 class="text-center font-semibold text-xl mb-10 text-white">Wishlist</h1>

    @if (Model.Any())
    {
        <div class="space-y-10 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-x-12 lg:gap-y-12 w-full px-4">
            @foreach (var item in Model)
            {
                <div class="flex flex-col lg:flex-row items-center lg:items-start justify-center bg-transparent p-4 rounded-lg shadow-md space-y-4 lg:space-y-0 lg:space-x-12 w-full lg:w-auto">
                    <!-- Product Image -->
                    <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@item.Product?.Id" class="w-full lg:w-1/4 flex items-center justify-center hover:opacity-90">
                        <img src="@item.Product?.ImageUrl" alt="@item.Product?.Name" class="object-contain object-center w-full h-32 lg:h-full">
                    </a>

                    <!-- Product Details -->
                    <div class="space-y-4 w-full lg:w-3/4 text-center text-white">
                        <!-- Product Name -->
                        <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@item.Product?.Id" class="block text-xl font-semibold hover:text-yellow-400">
                            @item.Product?.Name
                        </a>

                        <!-- Product Category -->
                        <p class="font-semibold">
                            Category: <span class="text-yellow-400">@(item.Product?.Category?.Name ?? "Shoes")</span>
                        </p>

                        <!-- Product Price -->
                        <h3 class="font-medium text-yellow-400">&#x20B9; @(item.Product?.DiscountedPrice.ToString("0.00"))</h3>

                        <!-- Remove Button -->
                        <form asp-controller="WishList" asp-action="RemoveItemWishList" asp-route-id="@item.Id" method="post" class="w-full">
                            <button type="submit" class="w-full py-2 bg-red-500 hover:bg-red-600 text-white font-medium ">
                                Remove
                            </button>
                        </form>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-xl text-white">No Products in your Wishlist</p>
    }
</div>
