@model IEnumerable<ECommerceApp.Models.Product>

@{
    ViewData["Title"] = "All Products";
}

<a asp-controller="Home" asp-action="Admin" class="bg-blue-400 hover:bg-blue-600 hover:text-white rounded-md inline-block py-1 w-24 mt-6 ml-6 flex items-center justify-center">
    <img src="~/images/back.png" alt="Back" class="invert grayscale w-8">
</a>

<div class="bg-no-repeat border border-[1px] flex items-center justify-center w-1/2 px-3 space-x-2 mx-auto py-3">
    <img src="~/images/search.png" alt="Search" class="w-6 invert grayscale">
    <input id="SearchInput" type="search" placeholder="Search Product..." class="text-gray-200 w-full bg-transparent outline-none">
</div>

<div class="w-full h-[60vh] flex items-center justify-center flex-wrap gap-4 mt-10" id="ProductContainer">
    @foreach (var product in Model)
    {
        <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@product.Id"
           class="block mt-6 hover:text-white w-[20%] transition-all duration-400 ease-in-out hover:scale-105 h-full border rounded-md overflow-hidden hover:shadow-lg hover:shadow-gray-500 transition-all duration-400 ease-out"
           data-product-name="@product.Name.ToLower()">

            <div class="w-full h-[75%] flex items-center justify-center bg-gray-100">
                <img src="@(product.ImageUrl ?? Url.Content("~/images/noImage.jpg"))" alt="Product Image" class="w-full h-full object-contain">
            </div>

            <div class="w-full h-[25%] flex flex-col items-start justify-center space-y-1 px-2">
                <h1 class="text-lg">@product.Name</h1>
                @if (product.Discount > 0)
                {
                    <div class="flex items-center justify-center space-x-2">
                        <h1 class="text-green-500">&#x20B9; @product.DiscountedPrice</h1>
                        <h2 class="line-through">&#x20B9; @product.Price</h2>
                        <h5 class="text-green-500">@product.Discount% off</h5>
                    </div>
                }
                else
                {
                    <h5 class="text-md">Rs. @product.Price</h5>
                }
            </div>
        </a>
    }
</div>

@section Scripts {
    <script src="~/js/allproducts.js"></script>
}

