@model ECommerceApp.ViewModels.Authentication.LogIn;

@{
    ViewData["Title"] = "Log In";
}


<a asp-controller="Home" asp-action="Index" class="bg-blue-400 hover:bg-blue-600  hover:text-white  inline-block  py-1 w-24 mt-6 ml-6 flex items-center justify-center">
    <img src="~/images/back.png" alt="Back" class="invert grayscale w-8">
</a>

<div class="hidden lg:flex items-center justify-center space-x-8 mt-2 mb-8">
    <a asp-controller="SignUp" asp-action="SignUp" id="registerButton" class="block hover:text-white transition-all duration-100 ease-out cursor-pointer">
        <h1 class="text-xl font-semibold tracking-wider">Register</h1>
        <div class="bg-white py-[2px] rounded-xl"></div>
    </a>

    <a asp-controller="LogIn" asp-action="LogIn" id="loginButton" class="block hover:text-white transition-all duration-100 ease-out cursor-pointer">
        <h1 class="text-xl font-semibold tracking-wider">Log In</h1>
        <div class="bg-white py-[2px] rounded-xl"></div>
    </a>

</div>

<form asp-action="LogIn" method="post" class="w-full min-[500px]:w-4/5 lg:w-1/2 h-full py-4 mx-auto flex items-center flex-col justify-center space-y-6 mt-2 border-[1px] border-white rounded-xl">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-red-500" })

    <div class="w-32 h-32 rounded-full bg-white flex items-center justify-center">
        <img src="~/images/login.png" alt="Alternate Text" class="w-8/12">
    </div>

    @if (ViewBag.EmailChangeWarning != null)
    {
        <div class="alert alert-warning">
            @ViewBag.EmailChangeWarning
        </div>
    }

    <div class="flex items-center justify-center flex-col w-[70%] space-y-2">
        <label asp-for="@Model.UserName">Username</label>
        <input asp-for="@Model.UserName" class="w-full py-1  text-black px-2 text-center">
        <span asp-validation-for="@Model.UserName" class="text-red-500"></span>
    </div>

    <div class="flex items-center justify-center flex-col w-[70%] space-y-2">
        <label asp-for="@Model.Email">Email</label>
        <input asp-for="@Model.Email" class="w-full py-1  text-black px-2 text-center">
        <span asp-validation-for="@Model.Email" class="text-red-500"></span>
    </div>

    <div class="flex items-center justify-center flex-col w-[70%] space-y-2">
        <label asp-for="@Model.Password">Password</label>
        <div class="relative w-full">
            <input asp-for="@Model.Password" id="password" class="w-full py-1  text-black text-center px-2" type="password">
            <div class="flex items-center justify-center">
                <img src="~/images/icons8-eye-50.png" alt="Show" id="openEye" class="absolute right-2 top-0 w-8">
                <img src="~/images/icons8-closed-eye-50.png" alt="Show" id="closedEye" class="hidden absolute right-2 top-0 w-8">
            </div>
        </div>
        <span asp-validation-for="@Model.Password" class="text-red-500"></span>
    </div>

    <div class="w-4/5 flex items-center justify-center space-x-2">
        <input type="checkbox" asp-for="@Model.RememberMe">
        <label asp-for="@Model.RememberMe">Remember Me</label>
    </div>

    <button type="submit" class="bg-blue-500 hover:bg-blue-600 py-2  w-1/4">Login</button>

    <a asp-controller="SignUp" asp-action="SignUp" class="flex items-center justify-center hover:text-lg transition-all duration-200 ease-in">
        <h1>New User? Register Yourself</h1>
        <img src="~/images/back.png" alt="Alternate Text" class="transform-all scale-[-1] invert grayscale w-8">
    </a>

</form>


@section Scripts {
    <script src="~/js/login.js"></script>
}

