@model List<ECommerceApp.Models.ApplicationUser>;

@{
    ViewData["Title"] = "Profiles List";
    string pagemode = Context.Request.Query["mode"];
}

<div class="relative flex items-center mt-10 mb-10 lg:mb-4 px-6">
    <!-- Back Button -->
    <a asp-controller="Home" asp-action="Admin"
       class="bg-blue-400 hover:bg-blue-600 hover:text-white rounded-md inline-block py-1 w-24 flex items-center justify-center absolute left-6">
        <img src="~/images/back.png" alt="Back" class="invert grayscale w-8">
    </a>

    <!-- Heading -->
    @if (pagemode == "AssignAdmin")
    {
        <h1 class="font-semibold max-[350px]:hidden text-xl mx-auto">Select Profile</h1>
    }
    else
    {
        <h1 class="font-semibold max-[350px]:hidden text-xl mx-auto">Profiles List</h1>
    }
</div>



<div class="bg-no-repeat border border-[1px] flex items-center justify-center w-4/5 lg:w-1/2 px-3 space-x-2 mx-auto py-3">
    <img src="~/images/search.png" alt="Search" class="w-6 invert grayscale">
    <input id="SearchInput" type="search" placeholder="Search Profile..." class="text-gray-200 w-full bg-transparent outline-none">
</div>

@if (Model.Any())
{
    <div class="w-full flex items-center justify-center flex-col space-y-8 my-12" id="ProfileContainer">

        @foreach (var i in Model)
        {
            <a asp-controller="Profiles" asp-action="ProfileDetails" asp-route-id="@i.Id"
               data-profile-name="@i.Name?.ToLower()"
               class="w-4/5 hover:opacity-70 border-[1px] border rounded-lg flex items-center justify-center lg:justify-between px-6 py-3">
                <h1 class="font-medium">@i.UserName</h1>
                <h5 class="hidden lg:block font-medium">@i.Name</h5>
                <h3 class="hidden lg:block font-medium">@i.Email</h3>
            </a>

        }

    </div>

}


@section Scripts {
    <script src="~/js/allProfiles.js"></script>
}