@model ECommerceApp.ViewModels.ProductUserViewModel

@{
    ViewData["Title"] = "Cart Details";
}

<a asp-controller="Carts" asp-action="CartsIndex" class=" bg-blue-400 hover:bg-blue-600 mt-4 ml-6  hover:text-white rounded-md inline-block  py-1 w-24 flex items-center justify-center">
    <img src="~/images/back.png" alt="Back" class="invert grayscale w-8">
</a>

<div class="w-full flex items-start justify-center mt-10">

    <div class="w-full flex items-start justify-center space-y-6 mt-3">
        <div class="w-1/2 flex flex-col items-center justify-center space-y-6">
            <div class="w-full flex items-center justify-center mt-3 relative overflow-hidden group cursor-crosshair h-96">
                <img id="productImage" src="@(Model.Product.ImageUrl ?? Url.Content("~/images/noImage.jpg"))" class="w-[70%] h-full object-contain object-center transition-all duration-400 ease-out">
                <div class="absolute hidden w-32 h-32 bg-no-repeat border-2 border-yellow-400 pointer-events-none group-hover:block" id="zoomOverlay"></div>
            </div>

            @if (Model.Product?.Quantity != 0)
            {
                <div class="w-1/2 flex items-center justify-center space-x-4">
                    <a class="bg-[#EE9E1E] hover:bg-[#D4881A] w-full hover:text-white rounded-lg py-2 text-center font-medium text-lg flex items-center justify-center space-x-4">
                        <img src="~/images/icons8-lightning-50.png" alt="Buy" class="w-8">
                        <h1>Buy</h1>
                    </a>
                    <form asp-controller="Carts" asp-action="CartAdd" asp-route-id="@Model.Product.Id" class="bg-blue-500 hover:bg-blue-600 w-full hover:text-white rounded-lg py-2 text-center font-medium text-lg flex items-center justify-center space-x-4">
                        <img src="~/images/icons8-cart-80.png" alt="Cart" class="w-8">
                        <button type="submit">Add to Cart</button>
                    </form>
                </div>
            }

        </div>
        <div class="w-1/2 flex items-start flex-col justify-center space-y-6">
            <h1 class="text-xl font-medium">@Model.Product.Name</h1>
            <div class="w-full h-[25%] flex flex-col items-start justify-center">
                @if (Model.Product.Discount > 0)
                {
                    <div class="flex items-center justify-center space-x-2">
                        <h1 class="text-green-500">&#x20B9; @Model.Product.DiscountedPrice</h1>
                        <h2 class="line-through">&#x20B9; @Model.Product.Price</h2>
                        <h5 class="text-green-500">@Model.Product.Discount% off</h5>
                    </div>
                }
                else
                {
                    <h5 class="text-md">&#x20B9; @Model.Product.Price</h5>
                }
            </div>
            <h5 class="pr-32">@Model.Product.Description</h5>

            <div>
                <div class="flex items-start justify-center flex-col">

                    <div id="shortAddress" class="flex items-start justify-center flex-col cursor-pointer">
                        <div class="flex items-center space-x-2 justify-center">
                            <img src="~/images/icons8-location-50.png" alt="Alternate Text" class="w-4 invert grayscale">
                            <p>Deliver to:</p>
                        </div>

                        <h5>@Model.ApplicationUser?.Name @Model.ApplicationUser?.City - @Model.ApplicationUser?.PinCode</h5>
                    </div>


                    <div id="fullAddress" class="relative flex items-start justify-center flex-col hidden cursor-pointer">
                        <div class="flex items-center space-x-2 justify-center">
                            <img src="~/images/icons8-location-50.png" alt="Alternate Text" class="w-4 invert grayscale">
                            <p>Default Address:</p>
                            <a asp-controller="Profiles" asp-action="ProfileEdit" asp-route-id="@Model.ApplicationUser?.Id"> <img src="~/images/edit.png" alt="Edit" class="w-4 invert grayscale absolute -right-24 top-0"> </a>
                        </div>

                        <div>
                            <p>@Model.ApplicationUser?.Name</p>
                            <p>@Model.ApplicationUser?.Address</p>
                            <p>@Model.ApplicationUser?.City - @Model.ApplicationUser?.PinCode</p>
                            <p>@Model.ApplicationUser?.State</p>
                        </div>

                    </div>

                </div>
            </div>

            @if (Model.Product.Quantity > 0)
            {
                <h1 class="bg-green-500 text-black font-semibold text-lg w-fit px-4 py-1 pl-2">In Stock</h1>

                <h1 class="text-xl">
                    Total Quantity:
                    @if (Model.Product.Quantity <= 3)
                    {
                        <span class="font-medium text-red-400">@Model.Product?.Quantity</span>
                    }
                    else if (Model.Product.Quantity <= 9)
                    {
                        <span class="font-medium text-yellow-400">@Model.Product?.Quantity</span>
                    }
                    else
                    {
                        <span class="font-medium text-green-400">@Model.Product?.Quantity</span>
                    }

                </h1>

            }
            else
            {
                <h1 class="bg-red-500 font-semibold text-lg w-fit px-4 py-1 pl-2">Out of Stock</h1>
            }


            @if (Model.IsInWishlist)
            {
                <form asp-controller="WishList" asp-action="RemoveItemWishList" asp-route-id="@Model.Product.Id" method="post" class="w-1/5 bg-white text-black border border-[1px] rounded-md  py-1.5  text-center ">
                    <button type="submit">Added to Wishlist</button>
                </form>
            }
            else
            {
                <form asp-controller="WishList" asp-action="AddToWishlist" asp-route-id="@Model.Product.Id" method="post" class="w-1/5 border border-[1px] rounded-md  py-1.5  text-center ">
                    <button type="submit">Add to Wishlist</button>
                </form>
            }

        </div>
    </div>
</div>

<script>
    const short = document.querySelector("#shortAddress");
    const full = document.querySelector("#fullAddress");

    short.addEventListener('click', function () {
        full.classList.remove("hidden");
        short.classList.add("hidden");
    });

    full.addEventListener('click', function () {
        short.classList.remove("hidden");
        full.classList.add("hidden");
    });

</script>

@section Scripts {
    <script src="~/js/cartDetails.js"></script>
}
