@model IEnumerable<ECommerceApp.Models.Cart>

@{
    ViewData["Title"] = "Cart Items";
}


@if (Model.Any())
{

    <div class="flex items-center justify-between mt-10 px-10">

        <a asp-controller="Home" asp-action="Index" class=" bg-blue-400 hover:bg-blue-600  hover:text-white rounded-md inline-block  py-1 w-24 flex items-center justify-center">
            <img src="~/images/back.png" alt="Back" class="invert grayscale w-8">
        </a>

        <h1 class="text-xl font-medium text-center">Cart Items</h1>


        <a asp-controller="Carts" asp-action="DeleteAll" class="bg-red-600 py-2 w-44 text-center block">Delete All</a>

    </div>

    @foreach (var i in Model)
    {
        <div class="h-20 w-60 bg-transparent fixed right-10 top-[40%] border border-white pt-2 ">
            <h1 class="text-center">Total Amount:</h1>
            <div class="bg-white w-4/5 h-[1px] mx-auto"></div>
            <h1 class="text-green-500 text-center mt-2 font-medium">₹ @((ViewBag.TotalAmount * @i.Quantity).ToString("0.00"))</h1>
        </div>
    }



    <div class="h-full w-full flex flex-col items-center justify-center space-y-10">

        <div class="space-y-24 w-full h-full flex items-center justify-center flex-col">
            @foreach (var item in Model)
            {
                <div class="flex items-start justify-center space-x-12">

                    <a asp-controller="Carts" asp-action="CartDetails" asp-route-id="@item.product?.Id" class="w-1/4 h-full flex items-center justify-center  hover:opacity-90">
                        <img src="@item.product?.ImageUrl" alt="@item.product?.Name" class="object-contain object-center w-full h-full">
                    </a>

                    <div class="space-y-4">
                        <a asp-controller="Carts" asp-action="CartDetails" asp-route-id="@item.product?.Id" class="block text-xl font-semibold hover:text-yellow-400">@item.product?.Name</a>
                        <div class="flex items-center justify-start space-x-4">
                            <form asp-controller="Carts" asp-action="ReductQuantity" asp-route-id="@item.Id" method="post" class="bg-white text-black hover:text-black w-8  h-8 flex items-center justify-center text-xl rounded-full">
                                <button type="submit">-</button>
                            </form>

                            <a asp-controller="Carts" asp-action="CartDetails" asp-route-id="@item.product?.Id" class="block text-xl font-semibold hover:text-yellow-400">
                                Quantity: @item.Quantity
                            </a>

                            <form asp-controller="Carts" asp-action="AppendQuantity" asp-route-id="@item.Id" method="post" class="bg-white text-black hover:text-black w-8  h-8 flex items-center justify-center text-xl rounded-full">
                                <button type="submit">+</button>
                            </form>
                        </div>

                        <a asp-controller="Carts" asp-action="CartDetails" asp-route-id="@item.product?.Id" class="block font-medium">
                            Total Price: <span class="text-yellow-400">@($"{item.product?.DiscountedPrice * item.Quantity:0.00}")</span>
                        </a>

                        <a asp-controller="Carts" asp-action="DeleteCart" asp-route-id="@item.Id" class="w-44 py-2 bg-red-500 hover:bg-red-500 flex items-center justify-start pl-4">
                            Remove
                        </a>

                    </div>
                </div>
            }

        </div>

    </div>
}
else
{
    <a asp-controller="Home" asp-action="Index" class=" bg-blue-400 hover:bg-blue-600 mt-6 ml-6 hover:text-white rounded-md inline-block  py-1 w-24 flex items-center justify-center">
        <img src="~/images/back.png" alt="Back" class="invert grayscale w-8">
    </a>

    <div class="flex items-center justify-center h-[80vh] w-full">
        <p class="text-xl">No Products in your Cart</p>
    </div>
}