@model IEnumerable<ECommerceApp.Models.Order>

<div class="flex items-center justify-between mt-10 px-10">

    <a asp-controller="Home" asp-action="Index" class=" bg-blue-400 hover:bg-blue-600  hover:text-white rounded-md inline-block  py-1 w-24 flex items-center justify-center">
        <img src="~/images/back.png" alt="Back" class="invert grayscale w-8">
    </a>

    <h1 class="text-xl font-medium text-center">Orders</h1>

    <form action="DeleteAll" method="post">
        <button type="submit" class="bg-red-600 py-2 w-44">Delete All</button>
    </form>
</div>

<div class="w-full flex items-center justify-center flex-col my-4 space-y-10">


@foreach (var i in Model)
{
    <div class=" w-1/2 h-48 flex items-center justify-center ">

        <div class="w-1/2 h-full flex items-center justify-start">
            <img src="@(i.Product.ImageUrl ?? Url.Content("~/images/noImage.jpg"))" alt="Product Image" class="w-full h-full object-scale-down object-center">
        </div>

        <div class="w-1/2 h-full space-y-2">
            <h1 class="text-xl">@i.Product.Name</h1>
            <h1>Total Price: <span class="text-green-400 font-medium">&#x20B9; @i.TotalPrice</span></h1>
            <h1 class="text-lg">Quantity: <span class="text-yellow-400 font-medium">@i.Quantity</span></h1>
            <h1>Staus: <span class="text-[#e85c05]">@i.Status</span></h1>
            <a asp-controller="Orders" asp-action="DeleteOrder" asp-route-orderId="@i.OrderId" class="block bg-red-500 hover:bg-red-600 py-2 w-1/4 flex items-center justify-center">
                Delete
            </a>

        </div>

    </div>
}
</div>

</div>